div.business-list-item:hover {
  background-color: lightsteelblue;
  transition: 0.5s ease;
}

.business-list-item {
  padding-left: 10px;
}

.business-list-name {
  color: var(--russian-green);
  left: 50%;
}

h3.business-list-name:hover h3.business-list-name:active {
  background-color: blue;
}

.business-list-address {
  color: var(--granny-smith);
  left: 50%;
}
