:root {
  --light-moss-green: #c0e8ab;
  --granny-smith: #ade091;
  --pistachio: #94cc76;
  --russian-green: #6f8c5f;
}

body {
  font-family: 'Gill Sans', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.single-business-page {
  display: flex;
  flex-flow: row nowrap;
}

.businesses-page {
  display: flex;
  flex-flow: row nowrap;
}

.single-business-left-panel {
  width: 25%;
  height: 100%;
}

.map {
  width: 50%;
}

.reviews-list {
  height: 400px;
  overflow: scroll;
}

.businesses-list {
  height: 400px;
  overflow: scroll;
}

.divider {
  height: 2px;
  background-color: var(--russian-green);
}

.inline-header {
  display: inline;
}

.router-container {
  height: 100%;
  width: 100%;
}

.search-bar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.search-bar-form {
  border-style: solid;
  border: 2px gray;
  width: 50%;
  height: 15px;
}

.search-bar-input {
  border-style: solid;
  border: 2px gray;
  width: 100%;
  height: 15px;
}
