:root {
  --light-moss-green: #c0e8ab;
  --granny-smith: #ade091;
  --pistachio: #94cc76;
  --russian-green: #6f8c5f;
}

body {
  font-family: 'Gill Sans', sans-serif;
  margin: 0px;
  background-image: url('./assets/images/dirt.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.image-scrim {
  position: absolute;
  min-height: 100%;
  overflow: auto;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  visibility: visible;
  z-index: -1;
  margin: 0px;
  transition: 1s;
  background-attachment: fixed;
}

.scrim {
  position: absolute;
  min-height: 100%;
  overflow: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  background-attachment: fixed;
  display: none;
  z-index: 1;
  margin: 0px;
}

/* .background-image {
  background-image: url('./assets/images/dirt.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.9;
  z-index: -2;
} */

.single-business-page {
  display: flex;
  flex-flow: row nowrap;
  padding-left: 10px;
  padding-right: 10px;
  /* height: 100% */
}

.businesses-page {
  display: flex;
  flex-flow: row nowrap;
}

.businesses-left-panel {
  padding-left: 10px;
  width: 25%;
  height: 75%;
  color: whitesmoke;
}

.single-business-left-panel {
  padding-left: 10px;
  width: 25%;
  height: 75%;
  color: whitesmoke;
}

.single-business-map-panel {
  width: 75%;
  height: 100%;
}

.map {
  width: 50%;
}

.reviews-list {
  height: 260px;
  overflow: scroll;
}

.businesses-list {
  height: 400px;
  overflow: scroll;
}

.divider {
  height: 2px;
  width: 90%;
  background-color: var(--russian-green);
}

.inline-header {
  display: inline;
  color: whitesmoke;
}

.router-container {
  height: 100%;
  width: 100%;
}

.businesses-header {
  color: whitesmoke;
}
